body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 200px;
}

#display {
    width: 100%;
    height: 40px;
    border: none;
    background: #fff;
    text-align: right;
    padding: 10px;
    font-size: 1.5em;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: white;
}

.btn {
    border: 1px solid #ddd;
    background: #fff;
    padding: 20px;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    background-color: green;

}

.btn:hover {
    background: #f0f0f0;
}
